@media (min-width: 768px) {
 header {
   padding: 20px 30px;
 }
  .is-hero {
   display: flex;

   height: 90vh;
   padding: 30px 90px;

   text-align: left;

   align-items: center;
 }

 .is-hero-inner {
   position: relative;

   width: 100%;
 }

 .is-hero-inner::after {
   position: absolute;
   top: 50%;
   right: 40px;

   width: 236px;
   height: 425px;

   content: "";
   transform: rotate(5deg) translateY(-50%);

   background-image: url(../img/iphone-white.png);
   background-size: cover;
 }

 .is-hero h1,
 .is-hero p {
   width: 280px;
 }

 .is-advantages {
   padding: 60px 90px 90px;
 }
 .is-advantages h2 {
   display: block;

   padding-bottom: 30px;
 }

 .advantages-wrapper {
   display: flex;

   flex-wrap: wrap;
   justify-content: space-between;

 }

.is-advantages article {
  width: calc(50% - 34px);
  min-width: 260px;
  max-width: 600px;
  height: 292px;
  margin: 0;
  margin-bottom: 60px;
  padding-top: 6%;
}

.is-reviews h2 {
  padding-bottom: 30px;

  text-align: left;
}

.is-reviews {
  padding: 60px 90px 90px;
}

.reviews-wrapper {
  /* display: flex;
  justify-content: space-between;
  flex-wrap: wrap; */
}

.is-reviews blockquote {
  display: inline-block;

  width: 260px;
  margin: 0;
  margin-right: 25px;
  margin-bottom: 30px;
}

.is-price {
    padding: 60px 90px 0;

}

.is-price h2 {
  padding-top: 0;

  text-align: left;
}

/* .is-price article {
  padding: 30px 30px 40px;
} */

.is-price article h3 {
  margin-bottom: 5px;
}

.btn {
  margin-left: 10px;
}

.price-wrapper {
  display: flex;

  justify-content: space-between;
}

.price-wrapper article {
  width: calc(50% - 30px);
  height: 380px;
}

.price-wrapper article ul {
  min-height: 127px;
}

.is-price h4 {
  padding-bottom: 51px;
}

.is-price h4::after {
  bottom: 25px;
}

.the-last-true-footer {
  padding: 60px 90px 30px;
}

}
