@media (min-width: 768px) {
 header {
   padding: 20px 30px;
 }
  .is-hero {
   display: flex;

   height: 90vh;
   padding: 30px 90px;

   text-align: left;

   align-items: center;
 }

 .is-hero-inner {
   position: relative;

   width: 100%;
 }

 .is-hero-inner::after {
   position: absolute;
   top: 50%;
   right: 40px;

   width: 236px;
   height: 425px;

   content: "";
   transform: rotate(5deg) translateY(-50%);

   background-image: url(../img/iphone-white.png);
   background-size: cover;
 }

 .is-hero h1,
 .is-hero p {
   width: 280px;
 }


}
