@media (min-width: 768px) {
 header {
   padding: 20px 30px;
 }
  .is-hero {
   display: flex;

   height: 90vh;
   padding: 30px 90px;

   text-align: left;

   align-items: center;
 }

 .is-hero-inner {
   position: relative;

   width: 100%;
 }

 .is-hero-inner::after {
   position: absolute;
   top: 50%;
   right: 40px;

   width: 236px;
   height: 425px;

   content: "";
   transform: rotate(5deg) translateY(-50%);

   background-image: url(../img/iphone-white.png);
   background-size: cover;
 }

 .is-hero h1,
 .is-hero p {
   width: 280px;
 }

 .is-advantages {
   padding: 60px 90px 90px;
 }
 .is-advantages h2 {
   display: block;

   padding-bottom: 30px;
 }

 .advantages-wrapper {
   display: flex;

   flex-wrap: wrap;
   justify-content: space-between;

 }

.is-advantages article {
  width: calc(50% - 34px);
  min-width: 260px;
  max-width: 600px;
  height: 292px;
  margin: 0;
  margin-bottom: 60px;
  padding-top: 6%;
}

}
